@import '~scss/vars';

.chat__message {
  display: block;

  margin: 0 20px 20px 20px;

  &:first-child {
    margin-top: 20px;
  }

  &--support {
    text-align: right;

    .chat__messageContainer {
      background: map-get($colors, primary);
      color: map-get($colors, base);
    }
  }

  &--customer {
    text-align: left;
  }

  &Container {
    display: inline-block;

    padding: 20px;

    border-radius: 6px;

    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.15);
  }

  &Text {
    margin-bottom: 10px;

    font-size: 13px;
    text-align: left;
  }

  &Details {
    padding-top: 10px;

    font-size: 11px;

    border-top: 1px solid map-get($colors, borders);
  }
}