@import '~scss/vars';

.chat__sidebarItem {
  display: block;

  padding: 15px 20px;

  font-size: 12px;

  transition: 0.2s all ease-in-out;

  &:hover, &--active {
    background: map-get($colors, primary);
    color: map-get($colors, base);
  }

  &:not(last-child) {
    border-bottom: 1px solid map-get($colors, borders);
  } 

  &Customer {
    margin-bottom: 5px;

    font-weight: 700;
  }

  &Date {
    margin-bottom: 10px;

    font-size: 11px;
    font-weight: 300;
  }

  &Message {
    font-size: 12px;

    font-weight: 400;
  }
}