html, body, h1, p, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: map-get($colors, body);
  color: map-get($colors, text);

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

h1 {
  margin: 0;
  padding: 0 0 20px 0;

  color: map-get($colors, primary);

  font-size: 22px;
  font-weight: 300;
}

p, ul {
  margin-bottom: 20px;

  line-height: 1.3;
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 10px;
}

a {
  color: inherit;

  text-decoration: none;
}

input, select, textarea {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}