@import '~scss/vars';

.chat__sidebar {
  display: inline-block;
  position: relative;
  vertical-align: top;
  z-index: 1;

  width: 30%;
  height: 100%;

  background: map-get($colors, base);

  overflow: auto;
}