@import '~scss/vars';

.chat__conversation {
  display: inline-block;
  position: relative;
  vertical-align: top;
  z-index: 2;

  width: 70%;
  height: 100%;

  padding: 0 10px 75px 10px;

  background: map-get($colors, body);
  
  font-size: 13px;

  box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.1);
  overflow: hidden;

  &Empty {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 240px;

    transform: translate(-50%, -50%);

    img {
      display: block;

      width: 100px;

      margin: 0 auto 10px auto;
    }

    span {
      display: block;

      text-align: center;
    }
  }
}

.chat__messages {
  height: 100%;

  overflow: auto;
}