@import '~scss/vars';

.chat__reply {
  display: table;
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;

  padding: 15px;

  background: map-get($colors, base);

  border-top: 1px solid map-get($colors, borders);

  &Left, &Right {
    display: table-cell;
    vertical-align: middle;
  }

  &Left {
    width: 100%;
  }

  &Right {
    width: 100px;
  }

  &Input {
    display: block;

    width: 100%;
    height: 40px;

    padding: 0 15px;

    line-height: 40px;

    outline: none;
  }

  &Button {
    display: block;

    width: 100px;
    height: 40px;

    background: map-get($colors, primary);
    color: map-get($colors, base);

    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

    border: 0;
    outline: none;

    cursor: pointer;
  }
}